{
  "presets": ["@babel/preset-env", "minify"],
  "ignore": ["node_module", "public"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@root": "./src/",
          "@routes": "./src/routes"
        }
      }
    ]
  ]
}
